---
title: Food Products




banner-link: assets/images/page-banners/food_products.jpg
image_path: assets/images/food_product_images
---

{{> banner }}


<div class="container">
	<h1 class="page-heading">{{title}}</h1>

	<div class="row">
		<div class="col-xs-4">
			<img class="img-responsive" src="{{image_path}}/sandwhich.jpg" alt="">
			<h3 class="page-subheading">Sandwich Bags</h3>
			<p>X-L Plastics’ sandwich bags keep freshness sealed in, so that your food stays better for longer. </p>
			<p class="uc"><a class="glyphicon glyphicon-ok">&nbsp</a>small: sandwich bags</p>

			<div class="row xl-table uc">

				<div class="col-xs-6 left-col">
					<h5 ><b>size</b></h5>
					<p>4 x 2 x 8 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>

				</div>

				<div class="col-xs-6 right-col">
					<h5 ><b>Item #</b></h5>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
				</div>

			</div>

		</div>
		<div class="col-xs-4">
			<img class="img-responsive" src="{{image_path}}/baking.jpg" alt="">
			<h3 class="page-subheading">Bakery Bags</h3>
			<p>Bakery items maintain their fresh out of the oven quality when preserved in X-L Plastics’ unique bakery bags. </p>
			<p class="uc"><a class="glyphicon glyphicon-ok">&nbsp</a>large: Bakery bags</p>

			<div class="row xl-table uc">
				<div class="col-xs-6 left-col">
					<h5 ><b>size</b></h5>
					<p>4 x 2 x 8 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 8 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>

				</div>

				<div class="col-xs-6 right-col">
					<h5 ><b>Item #</b></h5>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
				</div>

			</div>


		</div>
		<div class="col-xs-4">
			<img class="img-responsive" src="{{image_path}}/poultry.jpg" alt="">
			<h3 class="page-subheading">Poultry Bags</h3>
			<p>X-L Plastics’ poultry bags are extra-strong, manufactured to withstand the heavy loads they’re expected to bear. </p>
			<p class="uc"><a class="glyphicon glyphicon-ok">&nbsp</a>medium: Poultry Bags</p>


			<div class="row xl-table uc">
				<div class="col-xs-6 left-col">
					<h5 ><b>size</b></h5>
					<p>4 x 2 x 8 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 8 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>

					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>

				</div>

				<div class="col-xs-6 right-col">
					<h5 ><b>Item #</b></h5>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>

					<p >f5100c428r</p>
					<p >f5100c428r</p>
				</div>

			</div>



		</div>
	</div>
</div>







