---
title: Industrial Products




banner-link: assets/images/page-banners/industrial_products.jpg
image_path: assets/images/food_product_images
---

{{> banner }}


<div class="container">
	<h1 class="page-heading">{{title}}</h1>
	<br>

	<div class="row">
		<div class="col-xs-6 left-industrial-products">
			<h5 class="uc"><a class="glyphicon glyphicon-ok">&nbsp</a>Waste basket liners</h5>

			<div class="row xl-table uc">

				<div class="col-xs-2 left-col">
					<h5 ><b>size</b></h5>
					<p>4 x 2 x 8</p>
					<p>4 x 2 x 12</p>

				</div>
				<div class="col-xs-2 col">
					<h5 ><b>color</b></h5>
					<p>Buff</p>
					<p>Clear</p>

				</div><div class="col-xs-2 col">
					<h5 ><b>Pack</b></h5>
					<p>500/case</p>
					<p>500/case</p>

				</div><div class="col-xs-2 col">
					<h5 ><b>labeled</b></h5>
					<p>4 x 2 x 8</p>
					<p>4 x 2 x 8</p>

				</div>

				<div class="col-xs-2 right-col">
					<h5 ><b>Item #</b></h5>
					<p >f5100c48r</p>
					<p >f5100c28r</p>
				</div>
			</div>


			<h5 class="uc"><a class="glyphicon glyphicon-ok">&nbsp</a>Waste basket liners</h5>

			<div class="row xl-table uc">

				<div class="col-xs-6 left-col">
					<h5 ><b>size</b></h5>
					<p>4 x 2 x 8 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>

				</div>

				<div class="col-xs-6 right-col">
					<h5 ><b>Item #</b></h5>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
				</div>
			</div>


			<p class="uc"><a class="glyphicon glyphicon-ok">&nbsp</a>Waste basket liners</p>

			<div class="row xl-table uc">

				<div class="col-xs-6 left-col">
					<h5 ><b>size</b></h5>
					<p>4 x 2 x 8 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>

				</div>

				<div class="col-xs-6 right-col">
					<h5 ><b>Item #</b></h5>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
				</div>
			</div>
		</div>

		<div class="col-xs-5 right-industrial-products">
			<p class="uc"><a class="glyphicon glyphicon-ok">&nbsp</a>55 Gallon liners</p>
			<div class="row xl-table uc">
				<div class="col-xs-6 left-col">
					<h5 ><b>size</b></h5>
					<p>4 x 2 x 8 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
					<p>4 x 2 x 12 x 0.006</p>
				</div>

				<div class="col-xs-6 right-col">
					<h5 ><b>Item #</b></h5>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
					<p >f5100c428r</p>
				</div>

			</div>


		</div>

	</div>
</div>







