---
component: footer
---

<div class="xl-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<h1 style="text-transform: uppercase;">Let's Talk Plastic</h1>
					<div class="row">
						<div class="col-xs-5">
							<div>220 clifton blvd</div>
							<div>clifton, nj 07011</div>
							<div><a href="">Google Maps</a></div>
	            <div class="glyphicon glyphicon-envelope"></div>
						</div>
						<div class="col-xs-7 tel">
							<div>Tel: <span class="num">973.777.1888</span> </div>
							<div>Fax: <span class="num">973.777.1275</span></div>
							<div>Toll Free: <span class="num">800.524.0781</span></div>
						</div>
					</div>
			</div>

			<div class="col-xs-4">
			</div>

			<div class="col-xs-4 text-center bottom-logo">
				<img src="assets/images/logo_bottom.png" alt="">
			</div>

		</div>

		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div class="text-center">
					<div>X-L plastics @2014</div>
					<div>Site Designed by the <a href="">rock media</a></div>
				</div>
			</div>
		</div>


	</div>
</div>