---
component: navbar

product_pages: 'packaging_bags food_products industrial_products custom_orders'
industries_pages: pharmaceuticals industries

---


<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <a href="/">
        <img class=" logo pull-right " src="assets/images/logo.png" alt="">
      </a>
      <p></p>
    </div>
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-12 pull-right">
          <div class="row">
            <h4 class="contact-phone pull-right"><span class="glyphicon glyphicon-earphone tel-icon"></span>{{site.contact.phone}}</h4>
          </div>
          <div class="row">
            <span class="pull-right glyphicon glyphicon-envelope msg-icon"></span>
          </div>
          <div class="row">
            <nav class="navbar xl-navbar pull-right" role="navigation">
              <div class="container-fluid">
                <div>
                  <ul class="nav navbar-nav">
                    <li class="dropdown {{#contains 'packaging_bags food_products industrial_products custom_orders' basename }}active{{/contains}}">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="packaging_bags.html">packaging bags</a></li>
                        <li><a href="food_products.html">food products</a></li>
                        <li><a href="industrial_products.html">industrial products</a></li>
                        <li><a href="custom_orders.html">custom orders</a></li>
                      </ul>
                    </li>
                  </ul>

                  <ul class="nav navbar-nav">
                    <li class="dropdown {{#contains 'pharmaceuticals industries' basename}}active{{/contains}}">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Industries <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="pharmaceuticals.html">pharmaceuticals</a></li>
                        <li><a href="industries.html">Industries we serve</a></li>
                      </ul>
                    </li>
                  </ul>

                  <ul class="nav navbar-nav">
                    <li {{#is basename 'how-it-works'}}class="active"{{/is}}><a href="how-it-works.html">how it works</a></li>
                    <li {{#is basename 'recycling'}}class="active"{{/is}}><a href="recycling.html">Recycling</a></li>
                    <li {{#is basename 'about'}}class="active"{{/is}}><a href="about.html">About Us</a></li>
                    <li {{#is basename 'contact'}}class="active"{{/is}}><a href="contact.html">contact</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


