---
component: navbar
---


<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <a href="/">
        <img class=" logo pull-right " src="assets/images/logo.png" alt="">
      </a>
    </div>
    <div class="col-xs-11">
      <div class="row">
        <div class="col-xs-12 pull-right">
          <div class="row">
            <h4 class="contact-phone pull-right"><span class="glyphicon glyphicon-earphone tel-icon"></span>{{site.contact.phone}}</h4>
          </div>
          <div class="row">
            <span class="pull-right glyphicon glyphicon-envelope msg-icon"></span>
          </div>
          <div class="row">
            <nav class="navbar xl-navbar pull-right" role="navigation">
              <div class="container-fluid">
                <div>
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="packaging_bags.html">packaging bags</a></li>
                        <li><a href="food_products.html">food products</a></li>
                        <li><a href="industrial_products.html">industrial products</a></li>
                        <li><a href="custom_orders.html">customer orders</a></li>
                      </ul>
                    </li>
                  </ul>

                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Industries <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="pharmaceuticals.html">pharmaceuticals</a></li>
                        <li><a href="industries.html">Industries we serve</a></li>
                      </ul>
                    </li>
                  </ul>

                  <ul class="nav navbar-nav">
                    <li><a href="how-it-works.html">how it works</a></li>
                    <li><a href="recycling.html">Recycling</a></li>
                    <li><a href="about.html">AboutUs</a></li>
                    <li><a href="team.html">our team</a></li>
                    <li><a href="contact.html">contact</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
