---
component: navbar
---

<div class="container">
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      <h3>{{site.title}}</h3>
    </div>

    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
      <div class="row">
        <div class="pull-right">
          <h4>
            <span class="glyphicon glyphicon-earphone"></span>{{site.phone}}<br/>
            <div class="pull-right glyphicon glyphicon glyphicon-envelope"></div>
          </h4>
        </div>
      </div>
      <div class=" row xl-navbar">
        <ul class="nav navbar-nav">
          <!-- you can exclude pages using \{{#isnt}} helper: \{{#isnt data.title 'Blog'}} -->
          {{#each pages}}
          <li{{#if this.isCurrentPage}} class="active"{{/if}}>
            <a href="{{relative dest this.dest}}">{{ data.title }}</a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
