@import 'base';

.left-wave{
		background-image: url('../images/leftwave.png');
		background-repeat: no-repeat;
		background-position: left bottom;
}
.right-wave{
		background-image: url('../images/rightwave.png');
		background-repeat: no-repeat;
		background-position: right bottom;
}

.page{
	padding-bottom: 20px;
	min-height: 1000px;
}

body{
	background-color: $bg-color;
}

.section{
	margin-bottom: 40px;
}

.xl-navbar, .xl-footer {
    text-transform: uppercase;
}


.page-heading{
	color: $primary-color;
	text-transform: uppercase;
	font-size: 68px;
	font-weight: bold;
}

.page-subheading{
	color: $primary-color;
	text-transform: uppercase;

}
.news{

	.news-heading{
		text-transform: uppercase;
		color: $primary-color;
		font-size: 25px;
	}
	.news-content{
		font-size: $font-size-small;
	}
	.news-avatar{
		padding-top: 15px;
	}
}

.message{
	color: $primary-color;
	font-size: 27px;
	line-height: 36px;
	font-family: $font-family-secondary;
	font-weight: lighter;
}


.uc{text-transform: uppercase;}

.xl-table{
	color: #fff;
	margin: 0 5px 20px 5px;

	p{
		font-size: $font-size-small;
	}
	.col,
	.left-col,
	.right-col{
		background-color: $primary-color;
		//padding: 10px;
		//padding-left: 20px;
	}

	.left-col{
		border-right: 1px solid $bg-color;
		@include border-left-radius(8px);

	}
	.right-col{
		@include border-right-radius(8px);


	}
}

.left-industrial-products{
	margin-left: 40px;
}
.right-industrial-products{
	margin-left: 40px;
}

.news-panel{
	border-right: 2px solid #cdcdcd;
	border-bottom: 2px solid #cdcdcd;
}


.packaging-bags{
	color:$secondary-color;
	.column{
		padding: 0px 50px 0px 40px;
		.title{}
		.desc{
			font-size: $font-size-large;
		}
	}
}
.pb-bottom-panel{
	margin-top: 20px;
	padding: 12px 20px;
	background-color: $bg-color;
	text-transform: uppercase;

	border-right: 6px solid #cdcdcd;
	border-bottom: 2px solid #cdcdcd;

	@extend .text-center;
	.slogan{
		color: $primary-color;
		font-weight: bold;
		font-size: $font-size-h2;

	}
}

/*things before scss || may be it will be changed to scss */


.custom-block{
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;

}


.news:not(:first-child){
	border-top: 1px solid #cfcfcf;
}

.bottom-logo{
	padding-top: 30px;
	opacity: 0.5;

}

.form-control{
	@include box-shadow(none);
}

/*
**a fix to create carousel controls positioned right place and take proper size
*/
.carousel-control {
	.icon-prev,
	.icon-next{
		height: 85px;
		width: 86px;
	}
}
