@import 'base';

body{
	// background-image: url('../images/bg.png');
	// background-repeat: no-repeat;
	// background-position:-310px 125%;

	/*background-position:-105px 117%;*/
	/*background-size: 110%;*/
	background-color: $bg-color;
	// font-family: 'Oswald', 'sans-serif';
}

.logo{padding-top: 0px;}

.contact-phone{
	color: $gray-light;
	.tel-icon{color: $primary-color;margin-right: 5px;}
}

.msg-icon{font-size: $font-size-large;}

.xl-navbar, .xl-footer {
    text-transform: uppercase;
}

.xl-navbar {
    margin-top: 50px;
    margin-bottom: 0;
}

.navbar-nav>li{
  border-top: 1px solid $gray-light;
}

.navbar-nav>li,
.dropdown-menu{
	min-width: 129px;
	padding: 0;
	&:hover{
	  border-color: $bg-color;
	}
}

.navbar {
  // margin-bottom: $navbar-margin-bottom;
  border: 0px solid transparent;
}
// /*stop and change navigation color change default of  bootstrap*/
// .nav>li>a:hover,
// .nav>li>a:active{
// 	background-color: $blue !important;
// }

// .dropdown-menu>li{
// 	border-bottom:1px solid lighten($blue,10%);
// 	padding: 5px 2px;
// }

.dropdown-menu>li>a{
	padding: 10px 2px;
	font-weight: 300;
}

.dropdown-menu>li:not(:first-child){
	border-top: 1px solid lighten($navbar-dropdown-bg,20%);
}

.navbar-nav>li>a{
}

.navbar-nav {
	> .dropdown > a .caret{
      border-top-color: $navbar-default-link-color;
      border-bottom-color: $navbar-default-link-color;
	}

  > li > a {
  	color: $gray-light !important;
  }


  // Uncollapse the nav
  @media (min-width: $grid-float-breakpoint) {
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top: (($navbar-height - $line-height-computed) / 6);
        padding-bottom: (($navbar-height - $line-height-computed)*5 / 6);
      }
    }
  }

}

.xl-navbar a
{
    // font-weight: 400 !important;
		text-align: center;
}

.xl-footer {
	color: #fff;
  background-color: $footer-bg;
  margin-top: 120px;
}


.page-heading{
	color: $primary-color;
	text-transform: uppercase;

	font-size: 84px;
}

.page-subheading{
	color: $primary-color;
	text-transform: uppercase;

}

.news-heading{
	text-transform: uppercase;
	color: $news-header-color;
  font-weight: bold;
}

.message{
	color: $secondary-color;
}













.news-avatar{
	padding-top: 25px;
}

.custom-block{
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;

}

.news-panel{
	border-right: 2px solid #cdcdcd;
	border-bottom: 2px solid #cdcdcd;
}
.news:not(:first-child){
	border-top: 1px solid #cfcfcf;
}

.bottom-logo{
	padding-top: 30px;
	opacity: 0.5;

}

.form-control{
	@include box-shadow(none);
}

