@import 'base';

.left-wave{
		background-image: url('../images/leftwave.png');
		background-repeat: no-repeat;
		background-position: left bottom;
}
.right-wave{
		background-image: url('../images/rightwave.png');
		background-repeat: no-repeat;
		background-position: right bottom;
}

.page{
	padding-bottom: 20px;
	min-height: 1000px;
}

body{
	background-color: $bg-color;
}

.section{
	margin-bottom: 40px;
}

.xl-navbar, .xl-footer {
    text-transform: uppercase;
}


.page-heading{
	color: $primary-color;
	text-transform: uppercase;
	font-size: 68px;
	font-weight: bold;
}

.page-subheading{
	color: $primary-color;
	font-weight: 900;
	text-transform: uppercase;
}

.two-bordered-panel{
	border-right: 2px solid #cdcdcd;
	border-bottom: 2px solid #cdcdcd;
}

.news{
	@extend .two-bordered-panel;
	.news-heading{
		text-transform: uppercase;
		color: $primary-color;
		// font-size: 25px;
		font-size: $font-size-h1*1.25;
	}
	.news-content{
		font-size: $font-size-large;
		color: $news-content-color;
	}
	.news-avatar{
		padding-top: 15px;
	}
}

// .news:not(:first-child){
// 	border-top: 1px solid #cfcfcf;
// }

.message{
	color: $primary-color;
	font-size: 27px;
	line-height: 36px;
	font-family: $font-family-secondary;
	font-weight: lighter;
}


.uc{text-transform: uppercase;}

.xl-table{
	color: #fff;
	margin: 0 5px 20px 5px;

	p{
		font-size: $font-size-small;
	}
	.col{
		background-color: $primary-color;
	}
	.col:not(:last-child){
		border-right: 1px solid $bg-color;
	}
	.col:first-child{
		@include border-left-radius(8px);

	}
	.col:last-child{
		@include border-right-radius(8px);
	}

}

.right-industrial-products,
.left-industrial-products{
	padding-left: 60px;
}

.pb-bottom-panel{
	margin-top: 20px;
	padding: 12px 20px;
	background-color: $bg-color;
	text-transform: uppercase;

	border-right: 6px solid #cdcdcd;
	border-bottom: 2px solid #cdcdcd;

	@extend .text-center;
	.slogan{
		color: $primary-color;
		font-weight: bold;
		font-size: $font-size-h2;

	}
}

/*page specific css*/

.about-us{
	color:$primary-color;
	.subtitle{
		font-weight: lighter;
		font-size: $font-size-h1*1.25;
		// font-family: none;
	}
	.details{
		font-size: $font-size-large;
		color: $secondary-color;

	}
}

.contact{
	.title{
		@extend .page-heading;
		font-size: $font-size-h1 * 1.25;
	}
	.details{
		font-size: $font-size-large;
	}
	.icon{
		font-size: $font-size-h1;
		color:$gray-light;
	}
	.contact-info{
		font-size: $font-size-h3;
		color:$secondary-color;
	}
}

.packaging-bags{
	color:$secondary-color;
	.column{
		padding: 0px 50px 0px 40px;
		.title{}
		.desc{
			font-size: $font-size-large;
		}
	}
}

.banner{
	@extend .center-block;
	@extend  .img-responsive;
}



/*things before scss || may be it will be changed to scss */


.custom-block{
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;

}




.bottom-logo{
	padding-top: 30px;
	opacity: 0.5;

}

.form-control{
	@include box-shadow(none);
}

/*
**a fix to create carousel controls positioned right place and take proper size
*/
.carousel-control {
	.icon-prev,
	.icon-next{
		height: 85px;
		width: 86px;
	}
}
